<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <style>
            
            .positer {
                position:relative;
                left:-47px;
            }
            #qawidther {
                width:45px;
            }
            #homewidther {
                width:100px;
            }
            #searchinpbut {
                width:852px;
            }
            #profilewidther {
                width:50px;
            }
            #logoutwidhter {
                width:100px;
            }
            #settingswidther {
                width:80px;
            }
            #buttonwidther {
                width:75px;
            }
            #searchbarwidth {
                width:740px;
            }
            #sampler {
                width:100px;
            }
            div.content_item{
                margin-top: 24px;
                margin-bottom: 24px;
                background-color: cyan;
                width: 100%;
            }
            div.question_item_title{
                font-weight: bold;
                font-size: 40px;
                height: 50px;
            }
            div.right_container{
                background-color: teal;
            }
            div.left_container{
                background-color: lightseagreen;
            }
            button.answer_btn_collap{
                border-size: 1px;
                border-radius: 42px;
            }
            div.postBy{
                height: 35px;
                
            }
            
            div > span.topics{
                font-size: 13px;
                color: rgb(48, 88, 117);
            }
            div.question_upper{
                cursor: pointer;
            }
           .sprite {
                background-image: url("assets/spritesheetser.png");
                background-repeat: no-repeat;
                display: block;
            }

            .sprite-001-user {
                width: 24px;
                height: 24px;
                background-position: -5px -5px;
            }

            .sprite-002-settings {
                width: 24px;
                height: 24px;
                background-position: -39px -5px;
            }

            .sprite-003-like {
                width: 24px;
                height: 24px;
                background-position: -73px -5px;
            }

            .sprite-004-magnifying-glass {
                width: 24px;
                height: 24px;
                background-position: -107px -5px;
            }

            .sprite-005-heart {
                width: 24px;
                height: 24px;
                background-position: -5px -39px;
            }

            .sprite-006-share {
                width: 24px;
                height: 24px;
                background-position: -39px -39px;
            }

            .sprite-007-edit {
                width: 24px;
                height: 24px;
                background-position: -73px -39px;
            }

            .sprite-008-chat {
                width: 24px;
                height: 24px;
                background-position: -107px -39px;
            }

            .sprite-009-reload {
                width: 24px;
                height: 24px;
                background-position: -5px -73px;
            }

            .sprite-010-house {
                width: 24px;
                height: 24px;
                background-position: -39px -73px;
            }

            .sprite-011-upload {
                width: 24px;
                height: 24px;
                background-position: -73px -73px;
            }   

            .sprite-012-photo-camera {
                width: 24px;
                height: 24px;
                background-position: -107px -73px;
            }

            .sprite-013-hand {
                width: 24px;
                height: 24px;
                background-position: -5px -107px;
            }

            .sprite-014-garbage {
                width: 24px;
                height: 24px;
                background-position: -39px -107px;
            }

            .sprite-015-next {
                width: 24px;
                height: 24px;
                background-position: -73px -107px;
            }

            .sprite-016-book {
                width: 24px;
                height: 24px;
                background-position: -107px -107px;
            }

            .sprite-017-back {
                width: 24px;
                height: 24px;
                background-position: -141px -5px;
            }

            .sprite-018-next-1 {
                width: 24px;
                height: 24px;
                background-position: -141px -39px;
            }

            .sprite-019-cancel {
                width: 24px;
                height: 24px;
                background-position: -141px -73px;
            }

            .sprite-020-logout {
                width: 24px;
                height: 24px;
                background-position: -141px -107px;
            }


        </style>

        <script src="jquery.js"> </script>
        <script src="moment.min.js"></script>
        <script>
            $(document).ready(function(){
                getTime()
                function getTime(){
                    $("div.content_item").each(function() {
                        let thisDiv = this;
                         $('.time_slot').each(function(){
                             if( $(this).attr("data-id_question") == $(thisDiv).attr("data-id_question") ){
                                 let question_time = $(this).attr("data-id_date_time")
                                 let result_time = moment(question_time).fromNow()
                                 $(this).html(result_time);
                             }
                         })
                    })
                }

                //bookmark click
                $("a.bookmark").click(function(){
                    console.log($("a.profile").attr("data-id_username"))
                    $("#bookmark_username").val($("a.profile").attr("data-id_username"))
                    $("#bookmarkform").submit()
                    console.log($("a.profile").attr("data-id_username"))
                })
                //profile click
                $("a.profile").click(function(){
                    console.log($("a.profile").attr("data-id_username"))
                    $("#profile_username").val($("a.profile").attr("data-id_username"))
                    $("#profileform").submit()
                    console.log($("a.profile").attr("data-id_username"))
                })
                //settings click
                $("a.settings").click(function(){
                    console.log($("a.profile").attr("data-id_username"))
                    $("#settings_username").val($("a.profile").attr("data-id_username"))
                    $("#settingsform").submit()
                    console.log($("a.profile").attr("data-id_username"))
                })
                //logout click
                $("a.logout").click(function(){
                    $("#logoutform").submit()
                })
                //"Posted By"profile click
                $("div.postBy").click(function(){
                    $("#profile_username").val($(this).attr("data-id_profile"))
                    $("#profileform").submit()
                    console.log($("a.profile").attr("data-id_username"))
                })
                //addQuestion click
                $("button#addQuestion").click(function(){
                    console.log($("a.profile").attr("data-id_username"))
                    $("#addQuestion_username").val($("a.profile").attr("data-id_username"))
                    $("#addQuestionForm").submit()
                    console.log($("a.profile").attr("data-id_username"))
                })
                //Math clickedclick
                $("a#Mathematics").click(function(){
                    console.log("MATTH")
                    $("#feedFilter_home_username").val($("a.profile").attr("data-id_username"))
                    $("#feedFilter_username").val("Mathematics")
                    $("#feedFilterform").submit()
                })
                //Science clickedclick
                $("a#Science").click(function(){
                    console.log($("a.profile").attr("data-id_username"))
                    $("#feedFilter_home_username").val($("a.profile").attr("data-id_username"))
                    $("#feedFilter_username").val("Science")
                    $("#feedFilterform").submit()
                })
                //Politics clickedclick
                $("a#Politics").click(function(){
                    console.log($("a.profile").attr("data-id_username"))
                    $("#feedFilter_home_username").val($("a.profile").attr("data-id_username"))
                    $("#feedFilter_username").val("Politics")
                    $("#feedFilterform").submit()
                })
                //Technology clickedclick
                $("a#Technology").click(function(){
                    console.log($("a.profile").attr("data-id_username"))
                    $("#feedFilter_home_username").val($("a.profile").attr("data-id_username"))
                    $("#feedFilter_username").val("Technology")
                    $("#feedFilterform").submit()
                })
                //Music clickedclick
                $("a#Music").click(function(){
                    console.log($("a.profile").attr("data-id_username"))
                    $("#feedFilter_home_username").val($("a.profile").attr("data-id_username"))
                    $("#feedFilter_username").val("Music")
                    $("#feedFilterform").submit()
                })

                //home and Q&A click
                $("a#homeNav").click(function(){
                    console.log($("a.profile").attr("data-id_username"))
                    $("#refresh_home_username").val($("a.profile").attr("data-id_username"))
                    $("#refresh_homeForm").submit()
                    console.log($("a.profile").attr("data-id_username"))
                })
                //home and Q&A click
                $("a#QAnav").click(function(){
                    console.log($("a.profile").attr("data-id_username"))
                    $("#refresh_home_username").val($("a.profile").attr("data-id_username"))
                    $("#refresh_homeForm").submit()
                    console.log($("a.profile").attr("data-id_username"))
                })
                //add_answer form submit
                $("button#add_Answer_id").click(function(){
                    console.log($(temp).attr("data-id_question"))
                    
                    
                    $("#add_Answer_username_submit").val($("a.profile").attr("data-id_username")) //user id
                    $("#add_Answer_question_submit").val($(this).attr("data-id_question")) //question id
                    var temp = this;
                    
                    //gets every text area to check if that is the right text area for the question
                        $("textarea.myTextArea").each(function() {
                            if($(temp).attr("data-id_question") == $(this).attr("data-id_question")){
                                $("#add_Answer_answer_submit").val($(this).val()) //answer
                            } 
                        })
                   
                    $("#add_AnswerForm_submit").submit()
                })
                //add_bookmark_submit
                $("button#add_bookmark_id").click(function(e){
                    console.log("wtf")
                    let id = $(this).attr("data-id_question")
                    $.ajax({
                        url : "/addBookmark",
                        method : "post",
                        data : {
                            question_id : $(this).attr("data-id_question")
                        },
                        success: function(result){
                            if(result.ok == 1){
                                console.log("GOOODS")
                                $("img[data-id='"+id+"']").attr('src','assets/remove_bookmark')
                               e.stopPropagation();
                            }else{
                                alert("something went wrong")
                                e.stopPropagation();
                            }
                        }
                    })
                    e.stopPropagation();
                })
                //see_answer form submit
                $("div#see_answers_button").click(function(){
                    console.log("ers")
                    $("#seeAnswer_username").val($("a.profile").attr("data-id_username")) //user id
                    $("#seeAnswer_question").val($(this).attr("data-id_question")) //question id
                    $("#seeAnswerForm").submit()
                    console.log($("a.profile").attr("data-id_username"))
                })
            })
            /* spritesheet list
            <i class="sprite sprite-001-user"></i>
            <i class="sprite sprite-002-settings"></i>
            <i class="sprite sprite-003-like"></i>
            <i class="sprite sprite-004-magnifying-glass"></i>
            <i class="sprite sprite-005-heart"></i>
            <i class="sprite sprite-006-share"></i>
            <i class="sprite sprite-007-edit"></i>
            <i class="sprite sprite-008-chat"></i>
            <i class="sprite sprite-009-reload"></i>
            <i class="sprite sprite-010-house"></i>
            <i class="sprite sprite-011-upload"></i>
            <i class="sprite sprite-012-photo-camera"></i>
            <i class="sprite sprite-013-hand"></i>
            <i class="sprite sprite-014-garbage"></i>
            <i class="sprite sprite-015-next"></i>
            <i class="sprite sprite-016-book"></i>
            <i class="sprite sprite-017-back"></i>
            <i class="sprite sprite-018-next-1"></i>
            <i class="sprite sprite-019-cancel"></i>
            <i class="sprite sprite-020-logout"></i>
            */
        </script>
    </head>
    <body>
        
        
        <div class="container h-100">
            <div class = "positer">
            <div class="container d-flex justify-content-center ml-5 sticky-top">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                 
                    <a class="navbar-brand" id="QAnav" href="#"><div id = "qawidther">Q&A</div></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" id="homeNav" href="#"><div id = "sampler"><div class="sprite sprite-010-house">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Home</div></div></a>
                            </li>
                            
                        </ul>
                        <div id = "searchinpbut">
                            <form class="form-inline my-2 my-lg-0" action = "search" method = "post">
                                <input type = "hidden" name = "usersearchid" value = "{{user._id}}">
                                
                                <input class="form-control mr-sm-2" id = "searchbarwidth" type="search" placeholder="question/topic/answer" name = "searchq">
                                  
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><div id = "buttonwidther"><div class="sprite sprite-004-magnifying-glass">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search</div></div></button>
                                
                            </form>
                        </div>
                        <div class="nav-item active dropdown">
                                <a id = "profilewidther" class="w-auto nav-link dropdown-toggle" href="#" id="navbarDropdownProfile" role="button" data-toggle="dropdown">
                                    {{user.username}}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item profile" data-id_username="{{user._id}}" href="#">Profile</a> {{!--data-id_username contains the user id of the user --}}
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item settings" href="#"><div id = "settingswidther"><div class="sprite sprite-002-settings">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Settings</div></div></a>
                                    <a class="logout dropdown-item" href="#"><div id = "logoutwidther"><div class="sprite sprite-020-logout">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Logout</div></div></a>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="left_container col-8 col-md-2 p-2">
                        <div class="sticky-top">
                            <div class="title container d-flex justify-content-center font-weight-bold">Feed</div>
                            <br>
                            <a href="#" class="list-group-item list-group-item-action" id="Mathematics">Mathematics</a>
                            <a href="#" class="list-group-item list-group-item-action" id="Science">Science</a>
                            <a href="#" class="list-group-item list-group-item-action" id="Politics">Politics</a>
                            <a href="#" class="list-group-item list-group-item-action" id="Technology">Technology</a>
                            <a href="#" class="list-group-item list-group-item-action" id="Music">Music</a>
                            <button type="button" class="btn btn-primary " id="addQuestion"> Add a question! </button>
                        </div>
                    </div>
                    <div class="right_container col-4 col-md-10 d-flex justify-content-center">
                        <div class="row w-100">
                            {{#each question}}
                            <div class="content_item container-fluid mb-4 mt-4 w-100 h-auto question" data-id_question="{{_id}}">
                                <div class="question_upper" id="see_answers_button" data-id_question="{{_id}}">
                                    <div class="question_item_title h-auto text-capitalize font-weight-bold ">{{title}}</div>
                                    <div>
                                    <span class="topics">{{topic}}</span>
                                    </div>
                                </div>
                                <hr></hr>
                                <div class="d-flex">
                                    {{!-- <p>
                                      <button class="answer_btn_collap btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample{{_id}}" aria-expanded="false" aria-controls="collapseExample{{_id}}">
                                        Answer
                                      </button>
                                    </p> --}}
                                    {{!-- <div class="collapse" id="collapseExample{{_id}}"> --}}
                                      <form action = "add_answer_submit" id="add_AnswerForm_submit" method="post">
                                        <input type="hidden" name="add_AnswerUN_submit" id="add_Answer_username_submit"> {{!--user id --}}
                                        <input type="hidden" name="add_AnswerQ_submit" id="add_Answer_question_submit"> {{!--question id --}}
                                        <input type="hidden" name="add_ans_submit" id="add_Answer_answer_submit"> {{!--anssswer--}}
                                        <div class="form-group green-border-focus">
                                          <textarea class="myTextArea form-control col-xs-12" data-id_question="{{_id}}" id="textarea_answer_id" rows="2" cols="75" name="answer_textarea"></textarea>
                                        </div>
                                        <button type="button" class="btn btn-primary"  data-id_question="{{_id}}" id="add_Answer_id">Submit</button>
                                      </form>
                                    {{!-- </div> --}}
                                    <div class=" ml-auto">
                                        <div>Asked by:</div>
                                        <div class="sprite sprite-001-user"><div class="postBy btn btn-link text-weight-normal"data-id_profile="{{userID._id}}">&nbsp;&nbsp;&nbsp;&nbsp;{{userID.username}} </div></div>
                                        <p class="time_slot text-secondary"data-id_question="{{_id}}" data-id_date_time="{{date_time}}"></p>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        <div>Icons made by <a href = "https://www.flaticon.com/authors/gregor-cresnar">Gregor Cresnar</a> from <a href = "https://www.flaticon.com/home">www.flaticons.com</a></div>
        </div>
        
    {{!-- form equivalent of settings <a></a> --}}
         <form action="settings" id="settingsform" method="post">
            <input type="hidden" name="settingsUN" id="settings_username">
        </form>
        {{!-- form equivalent of bookmark <a></a> --}}
        <form action="bookmark" id="bookmarkform" method="post">
            <input type="hidden" name="bookmarkUN" id="bookmark_username">
        </form>
        {{!-- form equivalent of profile <a></a> --}}
        <form action="profile" id="profileform" method="post">
            <input type="hidden" name="profileUN" id="profile_username">
        </form>
        {{!-- form equivalent of feed filters <a></a> --}}
        <form action="feedFilter" id="feedFilterform" method="post">
            <input type="hidden" name="feedFilterUN" id="feedFilter_username">
            <input type="hidden" name="feedFilter_homeUN" id="feedFilter_home_username">
        </form>
        {{!-- form equivalent of logout <a></a> --}}
        <form action="logout" id="logoutform" method="post">
        </form>
        {{!-- form equivalent of add_a_question <a></a> --}}
        <form action="addQuestion" id="addQuestionForm" method="post">
            <input type="hidden" name="addQuestionUN" id="addQuestion_username">
        </form>
        {{!-- form equivalent of home and Q&A navigation link <a></a> --}}
        <form action="home" id="refresh_homeForm" method="post">
            <input type="hidden" name="refresh_homeUN" id="refresh_home_username">
        </form>
        {{!-- form equivalent of "see answer" button <a></a> --}}
        <form action="seeAnswer" id="seeAnswerForm" method="post">
            <input type="hidden" name="seeAnswerUN" id="seeAnswer_username">
            <input type="hidden" name="seeAnswerQ" id="seeAnswer_question">
        </form>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
