<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="jquery.js"> </script>
        <script>
            $(document).ready(function(){
                //bookmark click
                $("a.bookmark").click(function(){
                    console.log($("a.profile").attr("data-id_username"))
                    $("#bookmark_username").val($("a.profile").attr("data-id_username"))
                    $("#bookmarkform").submit()
                    console.log($("a.profile").attr("data-id_username"))
                })
                //profile click
                $("a.profile").click(function(){
                    console.log($("a.profile").attr("data-id_username"))
                    $("#profile_username").val($("a.profile").attr("data-id_username"))
                    $("#profileform").submit()
                    console.log($("a.profile").attr("data-id_username"))
                })
                //addQuestion click
                $("button#addQuestion").click(function(){
                    console.log($("a.profile").attr("data-id_username"))
                    $("#addQuestion_username").val($("a.profile").attr("data-id_username"))
                    $("#addQuestionForm").submit()
                    console.log($("a.profile").attr("data-id_username"))
                })
                //home and Q&A click
                $("a#homeNav").click(function(){
                    console.log($("a.profile").attr("data-id_username"))
                    $("#refresh_home_username").val($("a.profile").attr("data-id_username"))
                    $("#refresh_homeForm").submit()
                    console.log($("a.profile").attr("data-id_username"))
                })
                //home and Q&A click
                $("a#QAnav").click(function(){
                    console.log($("a.profile").attr("data-id_username"))
                    $("#refresh_home_username").val($("a.profile").attr("data-id_username"))
                    $("#refresh_homeForm").submit()
                    console.log($("a.profile").attr("data-id_username"))
                })
                //add_answer form submit
                $("button#add_Answer_id").click(function(){
                    console.log($(temp).attr("data-id_question"))
                    
                    
                    $("#add_Answer_username_submit").val($("a.profile").attr("data-id_username")) //user id
                    $("#add_Answer_question_submit").val($(this).attr("data-id_question")) //question id
                    var temp = this;
                    
                    //gets every text area to check if that is the right text area for the question
                        $("textarea.myTextArea").each(function() {
                            if($(temp).attr("data-id_question") == $(this).attr("data-id_question")){
                                $("#add_Answer_answer_submit").val($(this).val()) //answer
                            } 
                        })
                   
                    $("#add_AnswerForm_submit").submit()
                })
                //see_answer form submit
                $("button#see_answers_button").click(function(){
                    console.log("ers")
                    $("#seeAnswer_username").val($("a.profile").attr("data-id_username")) //user id
                    $("#seeAnswer_question").val($(this).attr("data-id_question")) //question id
                    $("#seeAnswerForm").submit()
                    console.log($("a.profile").attr("data-id_username"))
                })
            })
        </script>
    </head>
    <body>
        <div class="container h-100">
            <div class="container d-flex justify-content-center ml-5 sticky-top">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" id="QAnav" href="#">Q&A</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" id="homeNav" href="#">Home</a>
                            </li>
                            <li class="nav-item active dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProfile" role="button" data-toggle="dropdown">
                                    {{user.username}}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item profile" data-id_username="{{user._id}}" href="#">{{user.username}}</a> {{!--data-id_username contains the user id of the user --}}
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item bookmark" href="#">Bookmarks</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Settings</a>
                                    <a class="dropdown-item" href="#">Help</a>
                                    <a class="dropdown-item" href="#">Logout</a>
                                </div>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0" action = "search" method = "post">
                            <input type = "hidden" name = "usersearchid" value = "{{user._id}}">
                            <input class="form-control mr-sm-2" type="search" placeholder="question/topic/answer" name = "searchq">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </nav>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-8 col-md-2 bg-warning p-2">
                        <div class="sticky-top">
                            <div class="title container d-flex justify-content-center font-weight-bold">Feed</div>
                            <br>
                            <a href="#" class="list-group-item list-group-item-action">Mathematics</a>
                            <a href="#" class="list-group-item list-group-item-action">Science<span class="badge badge-primary badge-pill">3</span> </a>
                            <a href="#" class="list-group-item list-group-item-action">Politics<span class="badge badge-primary badge-pill">1</span> </a>
                            <a href="#" class="list-group-item list-group-item-action">Technology<span class="badge badge-primary badge-pill">16</span> </a>
                            <a href="#" class="list-group-item list-group-item-action disabled">Music<span class="badge badge-primary badge-pill">2</span> </a>
                            <button type="button" class="btn btn-primary " id="addQuestion"> Add a question! </button>
                        </div>
                    </div>
                    <div class="col-4 col-md-10 bg-danger d-flex justify-content-center">
                        <div class="row w-100">
                            {{#each question}}
                            <div class="container-fluid mb-4 mt-4 bg-warning w-100 question" data-id_question="{{_id}}">
                                <div class="text-center">{{title}}</div>
                                <div>{{topic}}</div>
                                <div>{{tag}}</div>
                                <div>Posted by: {{userID.username}} </div>
                                <div class="d-flex">
                                    <p>
                                      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample{{_id}}" aria-expanded="false" aria-controls="collapseExample{{_id}}">
                                        Answer {{_id}}
                                      </button>
                                    </p>
                                    <div class="collapse" id="collapseExample{{_id}}">
                                      <form action = "add_answer_submit" id="add_AnswerForm_submit" method="post">
                                        <input type="hidden" name="add_AnswerUN_submit" id="add_Answer_username_submit"> {{!--user id --}}
                                        <input type="hidden" name="add_AnswerQ_submit" id="add_Answer_question_submit"> {{!--question id --}}
                                        <input type="hidden" name="add_ans_submit" id="add_Answer_answer_submit"> {{!--anssswer--}}
                                        <div class="form-group green-border-focus">
                                          <textarea class="myTextArea form-control col-xs-12" data-id_question="{{_id}}" id="textarea_answer_id" rows="3" cols="80" name="answer_textarea"></textarea>
                                        </div>
                                        <button type="button" class="btn btn-primary"  data-id_question="{{_id}}" id="add_Answer_id">Submit</button>
                                      </form>
                                    </div>
                                    <div class=" ml-auto">
                                        <button type="button" class="btn btn-secondary" data-id_question="{{_id}}" id="see_answers_button">See Answer</button>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- form equivalent of bookmark <a></a> --}}
        <form action="bookmark" id="bookmarkform" method="post">
            <input type="hidden" name="bookmarkUN" id="bookmark_username">
        </form>
        {{!-- form equivalent of profile <a></a> --}}
        <form action="profile" id="profileform" method="post">
            <input type="hidden" name="profileUN" id="profile_username">
        </form>
        {{!-- form equivalent of add_a_question <a></a> --}}
        <form action="addQuestion" id="addQuestionForm" method="post">
            <input type="hidden" name="addQuestionUN" id="addQuestion_username">
        </form>
        {{!-- form equivalent of home and Q&A navigation link <a></a> --}}
        <form action="home" id="refresh_homeForm" method="post">
            <input type="hidden" name="refresh_homeUN" id="refresh_home_username">
        </form>
        {{!-- form equivalent of "see answer" button <a></a> --}}
        <form action="seeAnswer" id="seeAnswerForm" method="post">
            <input type="hidden" name="seeAnswerUN" id="seeAnswer_username">
            <input type="hidden" name="seeAnswerQ" id="seeAnswer_question">
        </form>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>