<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <style>
            div.content_item{
                margin-top: 24px;
                margin-bottom: 24px;
                background-color: cyan;
                width: 100%;
            }
            div.question_item_title{
                text-align: center;
                font-weight: bold;
                background-color: lightcyan;
            }
            div.answer_item_title{
                font-weight: bold;
            }
            div.right_container{
                background-color: lightseagreen;
            }
            div.left_container{
                background-color: rgb(13, 95, 124);
            }
            div#content_container{
                 background-color: teal;
            }
            div.feed_profile{
                background-color: rgb(100, 186, 216);
            }
            div.profile_area{
                margin-left: auto;
                background-color: rgb(72, 97, 193);
            }
            div.profile_username{
                font-size: 30px;
            }
        </style>
        
        <script src="jquery.js"> </script>
        <script>
            $(document).ready(function(){
                //bookmark click
                $("a.bookmark").click(function(){
                    console.log($("a.profile").attr("data-id_username"))
                    $("#bookmark_username").val($("a.profile").attr("data-id_username"))
                    $("#bookmarkform").submit()
                    console.log($("a.profile").attr("data-id_username"))
                })
                //profile click
                $("a.profile").click(function(){
                    console.log($("a.profile").attr("data-id_username"))
                    $("#profile_username").val($("a.profile").attr("data-id_username"))
                    $("#profileform").submit()
                    console.log($("a.profile").attr("data-id_username"))
                })
                //logout click
                $("a.logout").click(function(){
                    $("#logoutform").submit()
                })
                //home and Q&A click
                $("a#homeNav").click(function(){
                    console.log($("a.profile").attr("data-id_username"))
                    $("#refresh_home_username").val($("a.profile").attr("data-id_username"))
                    $("#refresh_homeForm").submit()
                    console.log($("a.profile").attr("data-id_username"))
                })
                //home and Q&A click
                $("a#QAnav").click(function(){
                    console.log($("a.profile").attr("data-id_username"))
                    $("#refresh_home_username").val($("a.profile").attr("data-id_username"))
                    $("#refresh_homeForm").submit()
                    console.log($("a.profile").attr("data-id_username"))
                })
                // question button clicked
                $("a#question_button").click(function(){
                        $('#content_container').empty();
                        question_content()
                        
                })
                function question_content(){
                    var length = $("a#question_button").attr("data-size_question")
                    //traverse the divs with class="question_div" containing the question datas
                    $('.question_div').each(function(){
                        let id_value = $(this).attr("data-id_question");
                        let thisDiv = this; // gets the current div being traversed
                        //traverse the a with class="question_id" containing the question id
                        $('.question_id').each(function(){
                            let divContenetItem, divContentCtnr, divContentTag, divContentTopic, divContentTitle;
                            if( $(this).attr("data-id_question") == $(thisDiv).attr("data-id_div_question") ){
                                let title = $(thisDiv).children("a#question_title").attr("data-id_title")
                                let index = $("a#question_index").attr("data-id_index")
                                let question_id = $("a#question_id").attr("data-id_question")
                                let tag = $(thisDiv).children("a#question_tag").attr("data-id_tag")
                                let topic = $(thisDiv).children("a#question_topic").attr("data-id_topic")
                                let username = $("a.profile").attr("data-username")
                                console.log(username)
                                //item question
                                divContentTitle = document.createElement("div")
                                $(divContentTitle).text(title)
                                divContentTitle.className = "question_item_title"
                                // item topic
                                divContentTopic = document.createElement("div")
                                $(divContentTopic).text("Topic: " + topic)
                                // item tag
                                divContentTag = document.createElement("div")
                                $(divContentTag).text("Tags: " + tag)
                                //Content Item
                                divContentItem = document.createElement("div")
                                divContentItem.append(divContentTitle)
                                divContentItem.append(divContentTopic)
                                divContentItem.append(divContentTag)
                                divContentItem.className = "content_item"
                                //content item container
                                divContentCtnr = document.createElement("div")
                                divContentCtnr.append(divContentItem)
                                divContentCtnr.className = "content_item_container"
                                // content container
                                $("#content_container").append(divContentCtnr)
                            }
                        })
                    })
                }
                // answer button clicked
                $("a#answer_button").click(function(){
                        $('#content_container').empty();
                        answer_content()
                        
                })
                function answer_content(){
                    var length = $("a#answer_button").attr("data-size_answer")
                    //traverse the divs with class="answer_div" containing the answer datas
                    $('.answer_div').each(function(){
                        let id_value = $(this).attr("data-id_answer");
                        let thisDiv = this; // gets the current div being traversed
                        //traverse the a with class="answer_id" containing the answer id
                        $('.answer_id').each(function(){
                            let divContenetItem, divContentCtnr, divContentTag, divContentTopic, divContentTitle, divContentAnswer,divContentQuestionUN;
                            if( $(this).attr("data-id_answer") == $(thisDiv).attr("data-id_div_answer") ){
                                let answer = $(thisDiv).children("a#answer_answer").attr("data-id_answer")
                                let answer_id = $("a#answer_id").attr("data-id_answer")
                                let title = $(thisDiv).children("a#answer_question_title").attr("data-id_answer_question_title")
                                let tag = $(thisDiv).children("a#answer_question_tag").attr("data-id_answer_question_tag")
                                let topic = $(thisDiv).children("a#answer_question_topic").attr("data-id_answer_question_topic")
                                let question_username = $(thisDiv).children("a#answer_question_username").attr("data-id_answer_question_username")
                                console.log(question_username)
                                //item answer
                                divContentAnswer = document.createElement("div")
                                $(divContentAnswer).text("Answer: " + answer)
                                divContentAnswer.className = "answer_item_title"
                                //item question
                                divContentTitle = document.createElement("div")
                                $(divContentTitle).text("Question: " + title)
                                divContentTitle.className = "question_item_title"
                                // item topic
                                divContentTopic = document.createElement("div")
                                $(divContentTopic).text("Topic: " + topic)
                                // item tag
                                divContentTag = document.createElement("div")
                                $(divContentTag).text("Tag: " + tag)
                                // item question_username
                                divContentQuestionUN = document.createElement("div")
                                $(divContentQuestionUN).text("Queston by: " + question_username)
                                //Content Item
                                divContentItem = document.createElement("div")
                                divContentItem.append(divContentAnswer)
                                divContentItem.append(divContentTitle)
                                divContentItem.append(divContentTopic)
                                divContentItem.append(divContentTag)
                                divContentItem.append(divContentQuestionUN)
                                divContentItem.className = "content_item"
                                //content item container
                                divContentCtnr = document.createElement("div")
                                divContentCtnr.append(divContentItem)
                                divContentCtnr.className = "content_item_container"
                                // content container
                                $("#content_container").append(divContentCtnr)
                            }
                            
                        })
                    })
                }
                
                
            })
        </script>
    </head>
    <body>
        <div class="container h-100">
            <div class="container d-flex justify-content-center ml-5 sticky-top">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" id="QAnav" href="#">Q&A</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" id="homeNav" href="#">Home</a>
                            </li>
                            <li class="nav-item active dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProfile" role="button" data-toggle="dropdown">
                                    {{curr_user.username}}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item profile" data-id_username="{{curr_user._id}}" data-username="{{curr_user.username}}" href="#">{{curr_user.username}}</a> {{!--data-id_username contains the user id of the user --}}
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item bookmark" href="#">Bookmarks</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Settings</a>
                                    <a class="dropdown-item" href="#">Help</a>
                                    <a class="logout dropdown-item" href="#">Logout</a>
                                </div>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0" action = "search" method = "post">
                            <input type = "hidden" name = "usersearchid" value = "{{curr_user._id}}">
                            <input class="form-control mr-sm-2" type="search" placeholder="question/topic/answer" name = "searchq">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </nav>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-8 col-md-9 left_container p-2 inline-block">
                      <div class="profile_area row container inline-block" id="profile">

                        <div class="col-4 d-flex justify-content-center">
                          <img class="rounded-circle" style="width:120px" src="assets/avatar.jpg">
                        </div>

                        <div class="profile_username font-weight-bold col-8 p-2">
                            {{user.username}}
                            <br>
                            <input class="btn btn-primary" type="button" value="follow">
                        </div>

                      </div>
                      <hr></hr>
                      <div class="w-100 d-none d-md-block"></div>

                      <div class="row container inline-block" id="profile">

                      <div class="col-4 col-md-3 feed_profile">
                            <div class="title container d-flex justify-content-start font-weight-bold">Feed</div>
                            <br>
                            <a id="answer_button" href="#" class="list-group-item list-group-item-action" data-size_answer="{{user.answerID.length}}">Answers </a>
                            <a id="question_button"href="#" class="list-group-item list-group-item-action" data-size_question="{{user.questionID.length}}">Questions </a>
                            <a href="#" class="list-group-item list-group-item-action">Followers  </a>
                            <a href="#" class="list-group-item list-group-item-action disabled">Following </a>
                      </div>
                    
                      {{#each user.answerID}}
                      <a class="answer_id" data-id_answer="{{_id}}"></a>
                      <div class="answer_div" data-id_div_answer="{{_id}}">
                            <a id="answer_index" data-id_index="{{@index}}: {{this}}"></a>
                            <a id="answer_answer" data-id_answer="{{answer}}"></a>
                            <a id="answer_question_title" data-id_answer_question_title="{{questionID.title}}"></a>
                            <a id="answer_question_topic" data-id_answer_question_topic="{{questionID.topic}}"></a>
                            <a id="answer_question_tag" data-id_answer_question_tag="{{questionID.tag}}"></a>
                            <a id="answer_question_username" data-id_answer_question_username="{{questionID.userID.username}}"></a>
                      </div>
                      {{/each}}
                      {{#each user.questionID}}
                      <a class="question_id" data-id_question="{{_id}}"></a>
                      <div class="question_div" data-id_div_question="{{_id}}">
                            <a id="question_index" data-id_index="{{@index}}: {{this}}"></a>
                            <a id="question_title" data-id_title="{{title}}"></a>
                            <a id="question_tag" data-id_tag="{{tag}}"></a>
                            <a id="question_topic" data-id_topic="{{topic}}"></a>
                      </div>
                      {{/each}}

                      <div class="col-8 col-md-9" id="content_container">
                            <div class="content_item_container">
			                    <div class="content_item container-fluid mb-4 mt-4 w-100 question">
                                    {{!-- datas or the items
                                    <div>Answer: {{answer}}</div>
                                    <div>Question:{{questionID.title}}</div>
                                    <div>topic</div>
                                    <div> tag </div>
                                    <div>Question by:{{questionID.userID.username}}</div> --}}
                                    <div class="welcome_page display-4 text-center"> WELCOME TO MY PAGE!</div>
                                </div>
			                </div>
                      </div>

                    </div>
                    </div>
                    {{!-- RIIIIIIIIIIGGGGGGGHHHHHTTTT CONTAINER --}}
                    <div class="col-4 col-md-3 right_container">
                        <div classs="font-weight-bold">Credential & Highlights</div>
                        <hr></hr>
                        <ul>
                            <li> Credential #1</li>
                            <li> Credential #2</li>
                            <li> Credential #3</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        {{!-- form equivalent of bookmark <a></a> --}}
        <form action="bookmark" id="bookmarkform" method="post">
            <input type="hidden" name="bookmarkUN" id="bookmark_username">
        </form>
        {{!-- form equivalent of profile <a></a> --}}
        <form action="profile" id="profileform" method="post">
            <input type="hidden" name="profileUN" id="profile_username">
        </form>
        {{!-- form equivalent of logout <a></a> --}}
        <form action="logout" id="logoutform" method="post">
        </form>
        {{!-- form equivalent of logout <a></a> --}}
        <form action="logout" id="logoutform" method="post">
        </form>
        {{!-- form equivalent of home and Q&A navigation link <a></a> --}}
        <form action="home" id="refresh_homeForm" method="post">
            <input type="hidden" name="refresh_homeUN" id="refresh_home_username">
        </form>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>