<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            div.content_item{
                margin-top: 24px;
                margin-bottom: 24px;
                background-color: cyan;
                width: 100%;
            }
            div.question_item_title{
                text-align: center;
                font-weight: bold;
                background-color: lightcyan;
            }
            div.answer_item_title{
                font-weight: bold;
            }
            div.right_container{
                background-color: teal;
            }
            div.left_container{
                background-color: lightseagreen;
            }
        </style>
        <script src = "jquery.js"></script>
        <script>
            function searchdir() {
                $("#allform").submit()
            }
            function searchquestfil() {
                $("#questform").submit()
            }
            function searchanswfil() {
                $("#answerform").submit()
            }
            $(document).ready(function(){
                //bookmark click
                $("a.bookmark").click(function(){
                    console.log($("a.profile").attr("data-id_username"))
                    $("#bookmark_username").val($("a.profile").attr("data-id_username"))
                    $("#bookmarkform").submit()
                    console.log($("a.profile").attr("data-id_username"))
                })
                //profile click
                $("a.profile").click(function(){
                    console.log($("a.profile").attr("data-id_username"))
                    $("#profile_username").val($("a.profile").attr("data-id_username"))
                    $("#profileform").submit()
                    console.log($("a.profile").attr("data-id_username"))
                })
                //addQuestion click
                $("button#addQuestion").click(function(){
                    console.log($("a.profile").attr("data-id_username"))
                    $("#addQuestion_username").val($("a.profile").attr("data-id_username"))
                    $("#addQuestionForm").submit()
                    console.log($("a.profile").attr("data-id_username"))
                })
                //home and Q&A click
                $("a#homeNav").click(function(){
                    console.log($("a.profile").attr("data-id_username"))
                    $("#refresh_home_username").val($("a.profile").attr("data-id_username"))
                    $("#refresh_homeForm").submit()
                    console.log($("a.profile").attr("data-id_username"))
                })
                //home and Q&A click
                $("a#QAnav").click(function(){
                    console.log($("a.profile").attr("data-id_username"))
                    $("#refresh_home_username").val($("a.profile").attr("data-id_username"))
                    $("#refresh_homeForm").submit()
                    console.log($("a.profile").attr("data-id_username"))
                })
                //add_answer form submit
                $("button#add_Answer_id").click(function(){
                    console.log($(temp).attr("data-id_question"))
                    
                    
                    $("#add_Answer_username_submit").val($("a.profile").attr("data-id_username")) //user id
                    $("#add_Answer_question_submit").val($(this).attr("data-id_question")) //question id
                    var temp = this;
                    
                    //gets every text area to check if that is the right text area for the question
                        $("textarea.myTextArea").each(function() {
                            if($(temp).attr("data-id_question") == $(this).attr("data-id_question")){
                                $("#add_Answer_answer_submit").val($(this).val()) //answer
                            } 
                        })
                   
                    $("#add_AnswerForm_submit").submit()
                })
                //see_answer form submit
                $("button#see_answers_button").click(function(){
                    console.log("ers")
                    $("#seeAnswer_username").val($("a.profile").attr("data-id_username")) //user id
                    $("#seeAnswer_question").val($(this).attr("data-id_question")) //question id
                    $("#seeAnswerForm").submit()
                    console.log($("a.profile").attr("data-id_username"))
                })
            })
        </script>
    </head>
    <body>
        <div class="container h-100">
            <div class="container d-flex justify-content-center ml-5 sticky-top">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" id="QAnav" href="#">Q&A</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" id="homeNav" href="#">Home</a>
                            </li>
                            <li class="nav-item active dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProfile" role="button" data-toggle="dropdown">
                                    {{user.username}}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item profile" data-id_username="{{user._id}}" href="#">{{user.username}}</a> {{!--data-id_username contains the user id of the user --}}
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item bookmark" href="#">Bookmarks</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Settings</a>
                                    <a class="dropdown-item" href="#">Help</a>
                                    <a class="dropdown-item" href="#">Logout</a>
                                </div>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0" action = "search" method = "post">
                            <input type = "hidden" name = "usersearchid" value = "{{user._id}}">
                            <input class="form-control mr-sm-2" type="search" placeholder="question/topic/answer" name = "searchq" value = "{{searchquery}}">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </nav>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-8 col-md-2 left_container p-2">
                        <div class="sticky-top">
                            <div clas="title"> Filter </div>
                            <hr></hr>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="list-group-item list-group-item-action" href="#" value="all" onclick = "searchdir()">All</a>
                                </li>
                                <li class="nav-item">
                                  <a class="list-group-item list-group-item-action" href="#" value="questions" onclick = "searchquestfil()">Questions</a>
                                </li>
                                <li class="nav-item">
                                  <a class="list-group-item list-group-item-action" href="#" value="profile">Answers</a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-4 col-md-10 right_container">
                        <div class="row w-100">
                            <div class="container text-center font-weight-bold display-4">Answers</div>
                                {{#each answer}}
                                    <div class="container-fluid mb-4 mt-4 content_item w-100 question" data-id_answer="{{_id}}">
                                        <div class="answer_item_title">Answered by: {{userID.username}}</div>
                                        <div class="answer_item_title">Answer: {{answer}}</div>
                                        <div class="question_item_title">Question: {{questionID.title}}</div>
                                        <div>Topic: {{questionID.topic}}</div>
                                        <div>Tag: {{questionID.tag}}</div>
                                        <div>Question by: {{questionID.userID.username}}</div>
                                    </div>
                                {{/each}}
                                
                            
                        </div>
                    </div>
                </div>
            </div>
        <form action = "search" method = "post" id = "allform">
            <input type = "hidden" name = "usersearchid" value = "{{user._id}}">
            <input type = "hidden" name = "searchq" value = "{{searchquery}}"></form>
        <form action = "searchquestfilt" method = "post" id = "questform">
            <input type = "hidden" name = "searchq2" value = "{{searchquery}}">
            <input type = "hidden" name = "usersearchid2" value = "{{user._id}}"></form>
        {{!-- form equivalent of bookmark <a></a> --}}
        <form action="bookmark" id="bookmarkform" method="post">
            <input type="hidden" name="bookmarkUN" id="bookmark_username">
        </form>
        {{!-- form equivalent of profile <a></a> --}}
        <form action="profile" id="profileform" method="post">
            <input type="hidden" name="profileUN" id="profile_username">
        </form>
        {{!-- form equivalent of add_a_question <a></a> --}}
        <form action="addQuestion" id="addQuestionForm" method="post">
            <input type="hidden" name="addQuestionUN" id="addQuestion_username">
        </form>
        {{!-- form equivalent of home and Q&A navigation link <a></a> --}}
        <form action="home" id="refresh_homeForm" method="post">
            <input type="hidden" name="refresh_homeUN" id="refresh_home_username">
        </form>
        {{!-- form equivalent of "see answer" button <a></a> --}}
        <form action="seeAnswer" id="seeAnswerForm" method="post">
            <input type="hidden" name="seeAnswerUN" id="seeAnswer_username">
            <input type="hidden" name="seeAnswerQ" id="seeAnswer_question">
        </form>
        <form action = "searchquestion" method = "post"><input type = "hidden" name = "searchquest" class = "searhquestid"></form>
        <form action = "home" method = "post" id = "homeform"><input type = "hidden" name = "refresh_homeUN" value = "{{user._id}}"></form>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>